body{
    padding:10px;
}
.calculator{
    width: 206px;
    border: 1px solid black;
    padding: 15px 10px;
}
.show-area{
    width:204px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 6px;
}
.operation-area{
    width: 206px;
}
.button{
    width:50px;
    height: 50px;
    margin-top: 2px;
    font-size: 18px;
}
.merge-botton{
    width: 102px;
    height: 50px;
    margin-top: 2px;
    font-size: 18px;
}
.command-area{
    display: flex;
    justify-content: space-between;
}
.calculate-area{
    display: flex;
    justify-content: space-between;
}
.number-area{
    width:154px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.operator-area{
    width: 50px
}