#root{
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
}
/* 显示区域 */
.show-area{
    height: 80px;
    border: 1px solid black;
    margin-bottom: 6px;
    padding-top:4px;
    padding-left: 6px;
    background-color: white;
}

/* 操作区域 */
.operation-area{
    width: 100%;
}

.single-button{
    flex-grow: 1;
    width: calc(32% - 1px);
    height: 50px;
    margin: 1px;
}

.merge-button{
    width: calc(66% - 1px); 
    height: 50px;
    margin: 1px;
}
.operation-area > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 左侧的加减乘除控制板，需要重新声明singleButton的宽度，否则仍会以33%定义 */
.operator-pad {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.operator-pad > button {
    width: calc(100% - 1px);
}